/* GENERAL */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f9;
}

.container {
  padding: 20px;
}

/* HEADER */
.header {
  background: linear-gradient(135deg, #1e4e8c, #2563eb);
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* USUARIO */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* BOTÓN LOGOUT */
.btn-logout {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-logout:hover {
  background: #c0392b;
}

/* BIENVENIDA */
.welcome {
  margin: 20px 0;
}

.welcome h2 {
  color: #2c3e50;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  align-items: stretch;
}

/* TARJETAS */
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border-left: 5px solid #3498db;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  height: 100%;

  /* 🔥 CENTRAR CONTENIDO */
  align-items: center;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

/* ICONO */
.icon {
  font-size: 32px;
}

/* TITULO */
.card h3 {
  margin: 10px 0;
  color: #2c3e50;
}

/* TEXTO */
.card p {
  font-size: 14px;
  color: #555;
  flex-grow: 1;
}

/* BOTÓN */
.card button {
  margin-top: 10px;
  background: #3498db;
  color: white;
  border: none;

  /* 🔥 MÁS PEQUEÑO */
  padding: 6px 10px;
  font-size: 13px;

  border-radius: 6px;
  cursor: pointer;
}

.card button:hover {
  background: #083060;
}